---
const { title, img, authors, url, badge, tags, desc, target = "_blank", venue, venue_short } = Astro.props;
import { Image } from "@astrojs/image/components";
import './HorizontalCard.scss'
---
<!-- class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]" -->

<div
  class="transition ease-in-out horizontal-card"
  style="background-color: var(--bg-color);"
>
  <div class="hero-content flex-col md:flex-row">
      {
          img && (
          <div class="flex flex-col items-center mr-8">
            <Image
              src={img}
              aspectRatio="16:9"
              width={750}
              format="webp"
              alt={title}
              class="max-w-full md:max-w-[13rem]"
            />
          </div>
          )
      }
      <div class="grow w-full">
        <h1 class="font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <div class="py-1 text-base">
          {authors && authors.map((author, index) => (
              <>{author.includes("Meng Chen") ? <b class="underline">{author}</b> : author}</>
              <>{index < authors.length - 1 ? ", " : ""}</>
            ))}
      </div>
       
        <div class="py-1 text-sm italic"
          >{venue}
        </div>
 
          <div class="card-actions flex justify-between items-center">
            {venue_short && <p class="font-bold">{venue_short}</p>}
          <div class="flex py-1">
          {tags && tags.map((tag) => (
            <a href={`${tag[1]}`} target={target} class="horizontal-card-tag">
                {tag[0]}
            </a>
          ))}
  </div>
  </div>
</div>

      </div>
    </div>
  
</div>
